<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <a href="https://www.linkedin.com/in/shreya-vispute-6a9414321/"><i class="fa-brands fa-square-linkedin"></i></a>
            <a href="https://github.com/ShreyaVispute021/RoamStay"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brands">&copy; RoamStay Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>