<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand brand-text" href="/listings">
      <i class="fa-regular fa-compass me-2"></i>RoamStay
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <form class="search-bar" action="/listings" method="GET">
          <div class="search-container">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
              <input type="search" name="search" value="<%= typeof search !== 'undefined' ? search : '' %>" placeholder="Search destinations" class="search-input" />
              <button type="submit" class="search-button">
                Search
              </button>
          </div>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">RoamStay your home</a>
        <% if(!currUser) {%>
          <a class="nav-link active" href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>LogIn</b></a>
          <% } %>
            <% if(currUser) {%>
              <a class="nav-link" href="/bookings"><b>My Listings</b></a>
              <a class="nav-link" href="/logout"><b>LogOut</b></a>
              <% } %>
      </div>
    </div>
  </div>
</nav>